RUN_MODE = 'Live'

SETTINGS_NAME = 'Eval configuration'

DEFAULT_CERT_FILE = '/usr/local/ssl/certs/some.cert'
DEFAULT_KEY_FILE = '/usr/local/ssl/certs/some.key'
DEFAULT_CA_FILE = '/usr/local/ssl/certs/some-cacerts.cert'

FILTER_FILE = 'data/PersonRegGroupDefs.xml'

GWS_CONF = {
    'HOST':  'https://dev.groups.uw.edu',
    'SOCKET_TIMEOUT':  900.0,
    'CERT_FILE': 'some.crt',
    'KEY_FILE': 'some.key'
}

IRWS_CONF = {
    'HOST':  'https://mango-environment.u.washington.edu:646',
    'SERVICE_NAME': 'registry-environment',
    'SOCKET_TIMEOUT':  65.0,
}

PAC_CONF = {
    'SMTP_SERVER': 'appsubmit.cac.washington.edu',
    'SMTP_USE_SSL': False, # TLS or SSL, not both
    'SMTP_USE_TLS': True,  # TLS or SSL, not both
    'SMTP_PORT': 587,      # TLS=587, SSL=465
    'SMTP_TIMEOUT': 15,
    'EMAIL_HEADERS': 'templates/email_headers',
    'EMAIL_PLAIN': 'templates/email_plain',
    'EMAIL_HTML': 'templates/email_html',
    'EMAIL_PAC': True,
    'IDENTITY_URL': 'https://identity-eval.s.uw.edu/new/accept',
    'IDENTITY_URL_15': 'https://identity-eval.s.uw.edu/new/mugs',
    'SEND_PAC_SOURCES': ['6']
}

# augment handlers' configs
for conf in (GWS_CONF, IRWS_CONF):
    if 'RUN_MODE' not in conf:
        conf['RUN_MODE'] = RUN_MODE
    if 'CERT_FILE' not in conf:
        conf['CERT_FILE'] = DEFAULT_CERT_FILE
    if 'KEY_FILE' not in conf:
        conf['KEY_FILE'] = DEFAULT_KEY_FILE
    if 'CA_FILE' not in conf:
        conf['CA_FILE'] = DEFAULT_CA_FILE


# AWS_CONF  &  IAM_CONF
exec(open('/data/local/some-install-path/etc/irws-settings-eval.py').read())

LOGGING = {
    'version': 1,
    'formatters': {
        'plain': {
            'format': '%(message)s'
        },
        'plaintime': {
            'format': '%(asctime)s: %(message)s'
        },
        'syslog': {
            'format': '%(asctime)s [%(levelname)s] %(name)s: %(message)s'
        },
    },
    'handlers': {
        'stdout': {
            'class': 'logging.StreamHandler',
            'level': 'DEBUG',
            'stream': 'ext://sys.stdout',
            'formatter': 'plain',
        },
        'syslog': {
            'class': 'logging.handlers.SysLogHandler',
            'level': 'DEBUG',
            'formatter': 'syslog',
            'facility': 'LOG_LOCAL7'
        },
        'runlog': {
            'class': 'logging.handlers.TimedRotatingFileHandler',
            'level': 'DEBUG',
            'formatter': 'syslog',
            'filename': '/some-log-path/process.log',
            'when': 'midnight'
        },
        'audits': {
            'class': 'logging.handlers.WatchedFileHandler',
            'level': 'INFO',
            'formatter': 'plaintime',
            'filename': '/some-log-path/audit.log',
        },
    },
    'loggers': {
      'root': {
        'level': 'INFO',
        'handlers': ['runlog', 'stdout'],
      },
      'activity': {
        'level': 'INFO',
        'handlers': ['runlog'],
      },
      'activity-verbose': {
        'level': 'DEBUG',
        'handlers': ['runlog', 'stdout'],
      },
      'message': {
        'level': 'DEBUG',
        'handlers': ['runlog'],
      },
      'recon': {
        'level': 'WARN',
        'handlers': ['runlog'],
      },
      'verify': {
        'level': 'DEBUG',
        'handlers': ['runlog', 'stdout'],
      },
      'audit': {
        'level': 'DEBUG',
        'handlers': ['audits']
      },
    }

}
